[Unit]
Description=Gif
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/UnicornHatWeather/
ExecStart=/home/pi/UnicornHatWeather/.venv/bin/python ./UnicornHatWeather.py

[Install]
WantedBy=multi-user.target
